{
    "ellipsoids_repo_path": "/path/to/ellipsoids/ellipsoids",
    "network_disk_path":    "/path/to/shared/network/disk",
    "stim_at_thres_path":   "/path/to/Stim_at_thres_for_image_generation_subN.pkl",
    "color_thres_base_dir": "/path/to/color/threshold/data",
    "flag_load_rgb":        false
}
